<body>
<container class="row mx-auto justify-content-between" style="width: 97%">
    <div class="col-3">
      <div class="row bg-warning p-3 rounded">
        <h5>Level: <span id="Level"></span></h5>
      </div>
      </br>
      <div class="row bg-warning p-3 rounded">
        <h5>Buffed: <span id="Buffed"></span></h5>
      </div>
      </br>
  <div style=" ">
      <div  id="HeadGear" class="row bg-danger p-3 rounded">
        <h3 id="h_name">{{treasure.name}}</h3>
        <a>Bonus: <span id="h_bonus">{{treasure.bonus}}</span></a>
        <a>Descript: <span id="h_description">{{treasure.description}}</span></a>
        <a>Value: $<span id="h_Price">{{treasure.price}}</span></a>
      </div>
      </br>
      <div id="RightHand" class="row bg-danger p-3 rounded">
        <h3 id="rh_name">RightHand</h3>
        <a>Bonus: <span id="rh_bonus"></span></a>
        <a>Descript: <span id="rh_description"></span></a>
        <a>Value: $<span id="rh_Price">1000</span></a>
      </div>
      </br>
      <div  id="LeftHand" class="row bg-danger p-3 rounded">
        <h3 id="lh_name">LeftHand</h3>
        <a>Bonus: <span id="lh_bonus"></span></a>
        <a>Descript: <span id="lh_description"></span></a>
        <a>Value: $<span id="lh_Price">1000</span></a>
      </div>
      </br>
      <div  id="Armor" class="row bg-danger p-3 rounded">
        <h3 id="a_name">Armor</h3>
        <a>Bonus: <span id="a_bonus"></span></a>
        <a>Descript: <span id="a_description"></span></a>
        <a>Value: $<span id="a_Price">1000</span></a>
      </div>
      </br>
      <div  id="FootGear"  class="row bg-danger p-3 rounded">
        <h3 id="f_name">FootGear</h3>
        <a>Bonus: <span id="f_bonus"></span></a>
        <a>Descript: <span id="f_description"></span></a>
        <a>Value: $<span id="f_Price">1000</span></a>
      </div>
    </div>
  </div>
    <div class="col-8 justify-content-center">
      <div  id="DoorCard" class="row bg-warning text-center p-3 rounded"  style="height: 100%">
        <h3 id="m_name">{{monster.name}}</h3>
        <h3>Level: <span id="m_level">{{monster.level}}</span></h3>
        <a>Description: <span id="m_badStuff">{{monster.description}}</span></a>
        <a>Treasures Recieved: <span id="m_treasure">{{monster.treasureValue}}</span></a>
      </div>
    </div>
    </div>
    </br>
    <div class="row bg-secondary d-flex justify-content-between p-3 m-3 rounded">
      <div class="col-1 bg-danger p-3 rounded">
        <h3 id="c1_name">Card 1</h3>
        <a>Bonus: <span id="c1_bonus"></span></h4>
        <a>Descript: <span id="c1_description"></span></a>
        <a>Value: $<span id="c1_Price">1000</span></a>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h3 id="c2_name">Card 2</h3>
        <a>Bonus: <span id="c2_bonus"></span></h4>
        <a>Descript: <span id="c2_description"></span></a>
        <a>Value: $<span id="c2_Price">1000</span></a>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h3 id="c3_name">Card 3</h3>
        <a>Bonus: <span id="c3_bonus"></span></h4>
        <a>Descript: <span id="c3_description"></span></a>
        <a>Value: $<span id="c3_Price">1000</span></a>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h3 id="c4_name">Card 4</h3>
        <a>Bonus: <span id="c4_bonus"></span></h4>
        <a>Descript: <span id="c4_description"></span></a>
        <a>Value: $<span id="c4_Price">1000</span></a>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h3 id="c5_name">Card 5</h3>
        <a>Bonus: <span id="c5_bonus"></span></h4>
        <a>Descript: <span id="c5_description"></span></a>
        <a>Value: $<span id="c5_Price">1000</span></a>
      </div>
    </div>
</container>
</body>